@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../src/consts/fonts.css");
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.marquee-wrapper {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
  z-index: 10;
}
.marquee-text {
  display: inline-block;
  white-space: nowrap;
}
@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* For Markdown files */

.responsive-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 10%;
  text-align: center;
}

.responsive-text {
  width: 50%;
  text-align: start;
}

@media (max-width: 768px) {
  .responsive-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .marquee-wrapper {
    animation-duration: 15s;
  }
  .responsive-text {
    text-align: center;
    width: 90%;
    margin-bottom: 10px;
  }
}
